{%extends "templates/basic.html" %}


{% block content %}
<!-- 		<form method="post" action="/logging.html">
        Username: <input type="text" name="username" placeholder = "Your username"> 
        Password: <input type="password" name="password" placeholder = "Your password">
        Gender: Male <input type = "radio" name = "gender" value = "male">
        Female <input type = "radio" name = "gender" value = "female">
        <input type="submit" value = "login">
        </form> -->



      <div class="imgalbum">
      <a target="_blank" href="static/1.jpg">
      <img src="static/1.jpg" alt="Babies" width="300" height="200">
      </a>
      <div class="desc">Babies</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/2.jpg">
       <img src="static/2.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">Funny babies</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/3.jpg">
       <img src="static/3.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">More Funny babies</div>
      </div>


      <div class="imgalbum">
      <a target="_blank" href="static/4.jpg">
       <img src="static/4.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">More babies</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/7.jpg">
       <img src="static/7.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">Funny babies again</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/6.jpg">
       <img src="static/6.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">Babies again</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/6.jpg">
       <img src="static/6.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">Babies again</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/6.jpg">
       <img src="static/6.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">Babies again</div>
      </div>

      <div class="imgalbum">
      <a target="_blank" href="static/9.jpg">
       <img src="static/9.jpg" alt="Funny Babies" width="300" height="200">
      </a>
      <div class="desc">More Funny babies</div>
      </div>



	{% endblock %}
